body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  color: white;
}

.animate-background {
  width: 1200px;
  height: 720px;
  background-color: #363636;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;
}

.background {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  margin-top: 30px;
}

.layer1,
.layer2,
.layer3 {
  width: 1200px;
  height: 720px;
}

.layers>div {
  position: absolute;
}

.layer1 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer1.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: third 3s linear infinite;
}

.layer2 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer2.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: second 6s linear infinite;
}

.layer3 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer3.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: first 8s linear infinite;
}

.content h2 {
  text-align: center;
  color: white;
  margin-top: 250px;
  font-size: 20px;
  animation: blinker 2s infinite;
}

.superdevworld {
  background-image: url(../img/superdevworld.png);
  background-size: 90%;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 100px;
}

#version {
  color: white;
  position: absolute;
  font-size: 9px;
  padding-left: 10px;
}

@keyframes blinker {

  50% {
    opacity: 0;
  }
}

.content p{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 12px;
  animation: blinker 2s infinite;

}
/* Select */

.character-select {
  width: 1200px;
  height: 720px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: absolute;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.char {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.m,
.j,
.mj, .mjtitle {
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
  border: 8px solid transparent;
}

.m h2,
.j h2 {
  font-size: 40px;
  position: relative;
  top: 10%;
  color:white;
}

.mj p {
  position: relative;
  font-size:11px;
  top: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.m:hover,
.j:hover,
.mj:hover {
  border: 8px solid rgb(255, 115, 0);
  box-shadow: 0px 0px 25px rgb(255, 115, 0);
}

.mcharacter {
  position: relative;
  width: 75px;
  height: 122px;
  margin: 0 auto;
  margin-top: 170px;
  background: url("../img/Mathieu.png");
  background-size: 855px;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
}

.jcharacter {
  position: relative;
  width: 75px;
  height: 122px;
  margin: 0 auto;
  margin-top: 170px;
  background: url("../img/jean.png");
  background-size: 855px;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
}

.mjcharacter{
  position: relative;
  width: 75px;
  height: 122px;
  margin: 0 auto;
  margin-top: 170px;
  background: url("../img/mj.png");
  background-size: 855px;
  animation-name: moving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
}

.mjtitle p{
  font-size: 40px;
  position: relative;
  top: 10%;
  color:white;
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transition: 0.2ms linear;

}

/* animations */

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-85px, 0, 0);
  }
  75% {
    transform: translate3d(60px, 0, 0);
  }
  90% {
    transform: translate3d(-15px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes first {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200px 0;
  }
}

@keyframes second {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200px 0;
  }
}

@keyframes third {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1320px 0;
  }
}

@keyframes moving {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -622px;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}


