body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;  padding: 0;
  margin: 0;
  overflow: hidden;
}
.animate-background {
  width: 1200px;
  height: 720px;
  background-color: #000;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;

}
.intro{
  opacity:0;
  -webkit-animation-name: anim2;
  animation-name: anim2;
  animation-duration: 10s;

}
.backgroundfa {
  background-size:cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 720px;
  animation-delay: 3.8s;
  animation-duration: 6s;
  color:white;
  position: absolute;
  -webkit-animation-name: anim2;
  animation-name: anim2;
  animation-timing-function: linear;
  opacity:0;

}

.falogo {
  width: 1200px;
  height: 720px;


}
.fa{
  width: 1200px;
  height: 720px;
  position: absolute;
  -webkit-animation-name: zoomIn, anim3;
  animation-name: zoomIn, anim3;
  animation-delay: 4.8s, 4.8s;
  animation-duration: 0.1s, 5s;
  animation-timing-function: linear;
  opacity: 0;

}
.challengefa{
  position: absolute;
  width: 1200px;
  height: 720px;
  opacity:0;
  -webkit-animation-name: anim2;
  animation-name: anim2;
  animation-delay: 6.8s;
  animation-duration: 3s;
}
.facircle{
  position: relative;
  top: 198px;
  left: 502px;
  opacity:0;
  -webkit-animation-name: rotate, anim2;
  animation-name: rotate, anim2;
  animation-delay:  5.5s, 5.5s;
  animation-duration:  1s, 4.3s;
  width:200px;
  height: 200px;
  
}


@keyframes rotate {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -540deg);
  }

}

@keyframes anim{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes anim2{
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes anim3{
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


@keyframes zoomIn {
  from {
    opacity: 1;
    transform: scale(5, 5);
  }

  100% {
    opacity: 1;
  }
}


.umtiti{
  background-image: url(../img/umtiti-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 720px;
  background-size:60%;
  position: absolute;
  -webkit-animation-name: anim;
  animation-name: anim;
  animation-duration: 3.8s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

h2{
  text-align: center;
}


