body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.background {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  margin-top: 30px;
}

.layer1,
.layer2,
.layer3 {
  width: 1200px;
  height: 720px;
}

.layers>div {
  position: absolute;
}

.layer1 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer1.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: third 3s linear infinite;
}

.layer2 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer2.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: second 6s linear infinite;
}

.layer3 {
  width: 1200px;
  height: 720px;
  background-image: url("../img/layer3.png");
  background-size: cover;
  background-repeat: repeat-x;
  animation: first 8s linear infinite;
}

.character {
  width: 1200px;
  height: 720px;
  position: absolute;
}

.michael {
  bottom: 0;
  margin-left: 120px;
  margin-bottom: 45px;
  position: absolute;
  width: 75px;
  height: 122px;
  background: url("../img/mj.png");
  background-size: 855px;
  animation-name: moving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
 }
 .jean {
  bottom: 0;
  margin-left: 120px;
  margin-bottom: 45px;
  position: absolute;
  width: 75px;
  height: 122px;
  background: url("../img/jean.png");
  background-size: 855px;
  animation-name: moving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
 }
 .mathieu {
  bottom: 0;
  margin-left: 120px;
  margin-bottom: 45px;
  position: absolute;
  width: 75px;
  height: 122px;
  background: url("../img/Mathieu.png");
  background-size: 855px;
  animation-name: moving;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8), linear;
  transition: 0.2ms linear;
 }


.michael-jumping {
  background: url("../img/mj.png");
  width: 70px;
  height: 122px;
  background-size: 855px;
  animation-name: jump, jumping;
  animation-duration: 0.8s, 0.8s;
  animation-iteration-count: 1, 1;
  animation-timing-function: steps(2), linear;
 
}

.mathieu-jumping {
  background: url("../img/Mathieu.png");
  width: 70px;
  height: 122px;
  background-size: 855px;
  animation-name: jump, jumping;
  animation-duration: 0.8s, 0.8s;
  animation-iteration-count: 1, 1;
  animation-timing-function: steps(2), linear;
 
}

.jean-jumping {
  background: url("../img/jean.png");
  width: 70px;
  height: 122px;
  background-size: 855px;
  animation-name: jump, jumping;
  animation-duration: 0.8s, 0.8s;
  animation-iteration-count: 1, 1;
  animation-timing-function: steps(2), linear;
 
}


.score {
  position: absolute;
  font-size: 50px;
  color: white;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  margin-left: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 26px;
}

.obs {
  width: 1200px;
  height: 720px;
  position: absolute;
  overflow: hidden;
}

.obstacle1-anim {
  height: 100px;
  width: 100px;
  background-size: cover;
  right: -100px;
  bottom: 45px;
  position: absolute;
  animation: obstacle 2s linear;
  left: unset;
}

.br-craves{
  background: url('../img/br.png');

}

.wordpress-craves{
  background: url('../img/wordpress.png');

}

.kids-craves{
  background: url('../img/kids-craves.png');
}

@keyframes obstacle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-1300px);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0);
    
  }
  20% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-270px);
  }
  55% {
    transform: translateY(-300px);
  }
  65% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(0);
  }

}

@keyframes moving {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -622px;
  }
}

@keyframes jump {
  from {
    background-position-x: -622px;
  }

}

@keyframes first {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200px 0;
  }
}

@keyframes second {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1200px 0;
  }
}

@keyframes third {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1320px 0;
  }
}